@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

* {
    min-width: 0;
}

body {
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    place-items: center;
    display: grid;
    background-color: #090909;
    color: #efefef;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0rem;
}

hr {
    width: 50rem;
    display: block;
}

#board {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 1rem;
}

#board-background {
    width: 45rem;
    height: 45rem;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #202020;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#result {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: #202020;
    border-radius: 1rem;
    align-items: center;
    margin: auto 0;
}

p {
    font-size: 1.4rem;
    margin: 0;
}

#find-button {
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3a3a3a;
    border: none;
    outline: aqua solid 0rem;
    color: #efefef;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    transition: 100ms;
    cursor: pointer;
    position: relative;
}
#find-button:focus {
    outline: 0.2rem solid aqua;
    transition: 100ms;
}
#find-button:hover {
    background-color: #797979;
    transition: 100ms;
}
#find-button:active {
    top: 0.1rem;
    transition: 100ms;
}
#find-button::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#find-button.clicked::after {
    animation-duration: 500ms;
    animation-name: explode;
}
@keyframes explode {
    from {
        box-shadow: 0 0 0 0 white;
        opacity: 1;
    }
    to {
        box-shadow: 0 0 10px 40px white;
        opacity: 0;
    }
}

.cell-background {
    background-color: #3a3a3a;
    font-size: 3rem;
    padding: 0;
    color: #efefef;
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    transition: 100ms;
    outline: 0rem solid aqua;
    border: none;
    position: relative;
}
.cell-background:hover {
    background-color: #797979;
    transition: 100ms;
}
.cell-background:focus {
    outline: 0.2rem solid aqua;
    transition: 100ms;
}
.cell-background.path {
    color: #efefef;
    background-color: #00690e;
    transition: 100ms;
}
.cell-background.path:hover {
    background-color: #1ca800;
    transition: 100ms;
}
