@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

html {
    font-size: 1.7vmin;
}

* {
    min-width: 0;
}

body {
    font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    place-items: center;
    font-size: small;
    display: grid;
    background-color: #090909;
    color: #efefef;
    margin: 0;
}

